h1 {
    text-align: center;
}

.module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    width: 65%;
    background-color: gray;
    margin: auto;
}

.module-lines {
    background-color: lightgray;
    min-width: 425px;
    width: 85%;
    padding: 15px;
    margin: 15px auto;
}

.module-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    min-width: 500px;
    width: 65%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

svg {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    transform: rotate(-90deg);
    background: rgb(225, 0, 0);
    border-radius: 50%;
}

circle {
    fill: rgb(225, 0, 0);
    stroke: rgb(0, 215, 0);
    stroke-width: 32;
}

.module-contents p {
    align-self: center;
    font-size: 30px;
}

.module-contents button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 215, 0);
    font-size: 15px;
}

.module-contents button:hover {
    background-color: rgb(0, 230, 0);
}