{% extends "base.html" %}
{% block title %}Question{% endblock %}
{% block content %}
  <div class="container-fluid">
  {% if locked %}
  <h1 class="mt-4">🔒 This content is locked! 🔒</h1>
  <p> You must complete the following activites before this one</p>
  <ul>
    {% for dependency in dependencies %}
      <li><a href="/learn/{{dependency[0].name}}/{{dependency[1].name}}">
        {{dependency[0].title}} - {{dependency[1].title}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <h6 class="mt-4 text-muted">{{module.title}}</h6 >
  <h1>{{activity.title}}</h1>
  <p>{{activity.prompt}}</p>
  <h2>Activity name: {{activity.name}}</h2>

  <script type="text/javascript"> 
    // output functions are configurable.  This one just appends some text
    // to a pre element.
    function outf(text) { 
        var mypre = document.getElementById("output"); 
        mypre.innerHTML = mypre.innerHTML + text; 
    } 
    function builtinRead(x) {
        if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                throw "File not found: '" + x + "'";
        return Sk.builtinFiles["files"][x];
    }
    
    // Here's everything you need to run a python program in skulpt
    // grab the code from your textarea
    // get a reference to your pre element for output
    // configure the output function
    // call Sk.importMainWithBody()
    function runit() { 
       var prog = document.getElementById("yourcode").value; 
       var mypre = document.getElementById("output"); 
       mypre.innerHTML = ''; 
       Sk.pre = "output";
       Sk.configure({output:outf, read:builtinRead}); 
       (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
       var myPromise = Sk.misceval.asyncToPromise(function() {
           return Sk.importMainWithBody("<stdin>", false, prog, true);
       });
       myPromise.then(function(mod) {
           console.log('success');
       },
           function(err) {
           console.log(err.toString());
       });
    } 
    </script> 
    
    <h3>Try This</h3> 
    <form> 
    <textarea id="yourcode" cols="40" rows="10">print("Hello, World!")
    </textarea><br /> 
    <button type="button" onclick="runit()">Run</button>
    <button type="button" onclick="checkAns()">Check your answer</button> 
    </form> 
    <pre id="output" ></pre> <!-- Output from python code is saved in here-->
    <!-- If you want turtle graphics include a canvas -->
    <div id="mycanvas"></div> 

    <script type="text/javascript">
    function checkAns() { 
        var userans = document.getElementById("output").innerHTML;
        if(userans == "Hello, World!"){ //This if statement doesn't work, I can't tell why. 
          window.alert("Good Job, go to the next activity");
          //button here on the alrert to go to next activity???
        }
        console.log(userans);
        //put code here to let user go on to next activity
    } 
    </script>



  
  </div>
  {% endif %}
  <script src="{{ url_for('static',filename='js/skulpt.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/skulpt-stdlib.js') }}" type="text/javascript"></script>
{% endblock %}