{% extends "base.html" %}
{% block title %}Question{% endblock %}
{{ url_for('static',filename='styles/style.css') }}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/codemirror.css')}}">
<script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='js/python-mode.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='styles/termynal.css')}}">
{% endblock %}

{% block content %}
  <div class="container-fluid mb-4">
  {% if locked %}
  <h1 class="mt-4">🔒 This content is locked! 🔒</h1>
  <p> You must complete the following activites before this one</p>
  <ul>
    {% for dependency in dependencies %}
      <li><a href="/learn/{{dependency[0].name}}/{{dependency[1].name}}">
        {{dependency[0].title}} - {{dependency[1].title}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <h6 class="mt-4 text-muted">{{module.title}}</h6 >
  <h1>{{activity.title}}</h1>
  {{activity.prompt | safe }}

  {% if activity.question %}
    <h3 id="your-task">Your task {% if is_completed %} <i class="fas fa-check-circle"></i> {% endif %}</h3>
    {{activity.question | safe}}
  {% endif %}
      <div class="row mb-1">
          <div class="col-lg-12 mh-100">
            <button type="button" onclick="runit()">Run</button>
            <button type="button" onclick="checkAns()" {% if activity.question is none %}disabled{% endif %}>Submit answer</button> 
            <button type="button" onclick="save()">Save code</button>
            <span id='savealert'>Saved</span>
          </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-6">
          <form> 
          <textarea id="yourcode" class="form-control" rows=15>{% if saved %}{{saved}}{% else %}{{activity.prefill}}{% endif %}</textarea><br /> 
          </form> 
        </div>
        <div class="col-md-6">
          <div id="termynal" data-termynal>
            <span id="output" ></span> <!-- Output from python code is saved in here-->
          </div>
        </div>
      </div>
    </div>
    <!-- If you want turtle graphics include a canvas -->
    <div id="mycanvas"></div> 
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    // Global codeMirror Editor
    var codeMirror;
    // output functions are configurable.  This one just appends some text
    // to a pre element.
    function outf(text) { 
        var mypre = document.getElementById("output"); 
        mypre.innerText = mypre.innerText+ text; 
    } 
    function builtinRead(x) {
        if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                throw "File not found: '" + x + "'";
        return Sk.builtinFiles["files"][x];
    }
    
    // Here's everything you need to run a python program in skulpt
    // grab the code from your textarea
    // get a reference to your pre element for output
    // configure the output function
    // call Sk.importMainWithBody()
    function runit() { 
       var prog = codeMirror.getValue();
       var mypre = document.getElementById("output"); 
       console.log(mypre)
       mypre.innerHTML = ''; 
       Sk.pre = "output";
       Sk.configure({output:outf,
         read:builtinRead, __future__:Sk.python3,
          inputfun: function(str){
            return window.prompt(str);
          },
          inputfunTakesPrompt: true
        }); 
       var myPromise = Sk.misceval.asyncToPromise(function() {
           return Sk.importMainWithBody("<stdin>", false, prog, true);
       });
       myPromise.then(function(mod) {
           console.log('success');
       },
           function(err) {
             var msg = err.toString();
             console.log(msg)
             $('#output').html("<i>"+msg+"</i>")
       });
      }
    function checkAns() { 
        // Run the code
        runit();
        // Save the code  
        var user_code = codeMirror.getValue()
        $.post('/save/{{module.name}}/{{activity.name}}',{
          code:user_code
        }, function (data, status){
          console.log(data)
        })
        var userans = $.trim($("#output").text())
        $.post("/submit/{{module.name}}/{{activity.name}}", {
          answer: userans
        }, function(data, status){
          alert(data['message'])
          if ("unlocked" in data) {
            // We were successful! display unlocked content
            $("#your-task").append("<i class='fas fa-check-circle'></i>")
          }
        }).fail(function(err, status){
          // something went wrong
          console.log(err)
        })

    }

    function save() {
      var user_code = codeMirror.getValue()
      $.post('/save/{{module.name}}/{{activity.name}}',{
        code:user_code
      }, function (data, status){
        console.log(data)
        if ("saved" in data){
          $("#savealert").fadeIn(500, function(){
            $(this).delay(2000).fadeOut(500);
          })
        }
      })
    }

    // Auto-save code every 20 seconds
    $(document).ready(function(){
      $("#savealert").hide();
      setInterval(save, 20000);
      // Set the global codeMirror object
      codeMirror = CodeMirror.fromTextArea(document.getElementById("yourcode"), {
        mode:"python",
        lineNumbers: true,
        lineWrapping: true
      })

    })

  </script>
  <script src="{{ url_for('static',filename='js/skulpt.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/skulpt-stdlib.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='js/termynal.min.js') }}" data-termynal-container="#termynal"></script>
{% endblock %}