{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
  <div class="container-fluid">
  <h1 class="mt-4">Homepage</h1>
  <p>This will be the homepage where users can either see their current status or have a link to create an account</p>
  <!-- If logged in, show stats of account
        If not logged in, show create account/log in button
        (Page 8, flask lecture)-->
  <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
  </div>
{% endblock %}