{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="card mx-auto profile">
    <h5 class="card-header">{{current_user.firstname}} {{current_user.lastname}}'s Profile</h5>
    <div class="card-body">
        <p id="username"><b>Username</b>: {{current_user.username}}</p>
        <p id="email"><b>Email</b>: {{current_user.email}}</p>
        <p id="lines"><b>Total lines of code submitted: </b>{{current_user.lines_of_code}}</p>
        <p id="submissions"><b>Total number of submissions: </b>{{current_user.total_submissions}}</p>
        <a href="{{url_for('index')}}" class="btn btn-primary">Dashboard</a>

    </div>
</div>



{% endblock %}