{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="card mx-auto registration">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            <form action="" method="post" novalidatev>
                <!-- FOR CSRF -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}<br>
                    {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.firstname.label }}<br>
                    {{ form.firstname(size=20) }}
                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label }}<br>
                    {{ form.lastname(size=20) }}
                    {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label }}<br>
                    {{ form.email(size=20) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password(size=20) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.confirm.label }}<br>
                    {{ form.confirm(size=20) }}
                    {% for error in form.confirm.errors %}
                    <span style="color: red;">[{{ error}}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.accept_tos.label }}
                    {{ form.accept_tos(size=20) }}<br>
                    <a href='tos'>Terms of Service</a>
                </div>
                <a href="/register">Already have an account? Log-In now!</a>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
{% endblock %}